.wrapper {
  display: flex;
  gap: var(--space-x-md);
  align-items: center;
}

.name {
  font-weight: bold;
}

.posts {
  margin-left: var(--space-x-sm);
  font-weight: 100;
  color: var(--color-text-secondary);
}
