.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 3px 2px rgb(200 200 200 / 40%);
}

.brand {
  flex: 1 1 auto;
}
