.wrapper {
  position: relative;
  z-index: var(--index-header);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
  color: var(--color-text-strong);
  background-color: #fff;
  box-shadow: 0 3px 2px rgb(200 200 200 / 50%);
}

.brand {
  flex: 1 1 auto;
}
