.wrapper {
  display: flex;
  height: 100%;
  background-color: var(--color-base-bg);
}

.main {
  width: 60%;
  margin-top: var(--space-y-lg);
}

.side {
  width: 40%;
  margin-top: var(--space-y-lg);
}
