.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-y-md);
}

.title {
  font-size: var(--font-size-lg);
  font-weight: bold;
}

.body {
  margin-top: var(--space-y-sm);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  color: var(--color-link);
}

.link:hover {
  text-decoration: underline;
}
