.button {
  border: none;
  padding: 4px 10px;
  --radius-md: 4px;
  cursor: pointer;
  border-radius: var(--radius-md);
}

.button.red {
  --color-red: rgb(255, 99, 99);
  --color-red-text: rgb(255, 255, 255);
  background-color: var(--color-red);
  color: var(--color-red-text);
}

.button.blue {
  --color-blue: rgb(17, 179, 228);
  --color-blue-text: rgb(255, 255, 255);
  background-color: var(--color-blue);
  color: var(--color-blue-text);
}

.button.green {
  --color-green: rgb(35, 201, 118);
  --color-green-text: rgb(255, 255, 255);
  background-color: var(--color-green);
  color: var(--color-green-text);
}

.button.small {
  font-size: 0.8rem;
}

.button.medium {
  font-size: 1rem;
}

.button.large {
  font-size: 1.4rem;
}
